apiVersion: pdok.nl/v2beta1
kind: Atom
metadata:
  labels:
    app.kubernetes.io/name: atom-operator-v3
    app.kubernetes.io/managed-by: kustomize
  name: atom-sample
spec:
  # TODO(user): Add fields here
